

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.divider {
    margin: -1px 0 0;
}

.translate {
    width: 339px;
    transition: 0.7s ease-in-out;
}

.expand {
    width: 250px;
    transition: .3s ease-in-out;
}

.unexpand {
    width: 15px;
    transition: .3s ease-in-out;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.clean-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

.done {
    text-decoration: line-through;
    color: #44546f;
}

.close-btn {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #8c8c8c;
}



// //Btns

// .light-btn {
//     background: none;
//     border: none;
//     color: $clr6;
//     font-weight: 500;
//     font-size: rem(14px);
//     border-radius: 3px;

//     &.create-btn {
//         background-color: $a-h2-l;

//         &:hover {
//             background-color: $a-h3-l;
//         }
//     }

//     .search-input {
//         background-color: $a-h2-l;
//         border: 1px solid $a-h1-l;

//         input {
//             color: $clr6;

//             &::placeholder {
//                 color: $clr6;
//             }
//         }

//         &:hover {
//             background-color: $a-h4-l;
//         }

//     }

//     &:hover {
//         background-color: $a-h1-l;
//         cursor: pointer;
//     }

//     &.logo {
//         color: $a-h-txt-l
//     }
// }

// .dark-btn {
//     background: none;
//     border: none;
//     color: $a-h-txt-d;
//     font-weight: 500;
//     font-size: rem(14px);
//     border-radius: 3px;

//     &.create-btn {
//         background-color: $a-h2-d;

//         &:hover {
//             background-color: $a-h1-d;
//         }
//     }

//     .search-input {
//         background-color: $a-h1-d;
//         border: 1px solid $a-bd-d;

//         input {
//             color: $a-h-txt-d;

//             &::placeholder {
//                 color: $a-h-txt-d;
//             }
//         }

//         &:hover {
//             background-color: $a-h2-d;
//         }
//     }

//     &:hover {
//         background-color: $a-h1-d;
//         cursor: pointer;
//     }

//     &.logo {
//         color: $a-h-txt-d
//     }
// }

// .edit-modal {
//     position: fixed;
//     z-index: 100;

//     &.add-board {
//         position: absolute;
//     }
// }

// .loader {
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1000;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &.board {
//         background-color: white;
//         svg {
//             .line {
//                 stroke: rgb(103, 103, 103);
//             }
//         }
//         div {
//             background: none;
//         }
//     }

//     &.task-details {
//         background-color: rgba(0, 0, 0, 0.599);
//         svg {
//             .line {
//                 stroke: #aaa;
//             }
//         }
//         div {
//             background-color: white;
//         }

//     }
//     div {
//         width: 700px;
//         height: 600px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 3px;
//     }

//     svg {
//         .line {
//             fill: none;
//             stroke-width: 8;
//             stroke-dasharray: 40;
//         }

//         .animated {
//             animation: draw 0.8s ease-in-out;
//             animation-iteration-count: infinite;
//             stroke-dashoffset: 0;
//         }

//         .line2 {
//             animation-delay: 0.08s
//         }

//         .line3 {
//             animation-delay: 0.16s
//         }

//         @keyframes draw {
//             0% {
//                 stroke-dashoffset: 0;
//             }

//             50% {
//                 stroke-dashoffset: 30;
//             }

//             100% {
//                 stroke-dashoffset: 0;
//             }
//         }
//     }

// }

// Media helpers

// .square-ratio {
//     @include aspect-ratio(1, 1);
// }

// .video-ratio {
//     @include aspect-ratio(16, 9);
// }

// .portrait-ratio {
//     @include aspect-ratio(9, 16);
// }