.login-page-container {
    // background-color: rgb(22, 23, 23);
    background-image: url('	https://img.hotstar.com/image/upload/f_auto/v1656431458/web-images/stars_bg');
    background-color: #0f1014;
    .login-page {
        // // padding: 32px 40px;
        // margin: 0px auto;
        // border-radius: 3px;
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
        margin-top: 200px;
        width:300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-titles {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-block-end: 12px;

            // .logo {
            //     font-weight: 500;
            //     color: rgb(255, 255, 255);
            //     font-size: 26px;
            // }

            .welcome-title {
                font-size: 20px;
                font-weight: 600;
                color: rgb(204, 204, 204);
                padding-block-start: 24px;
            }

            >* {
                margin: 0;
            }

        }

        // &-form {

        //     input {
                
        //         width: 100%;
        //         padding: 8px 6px;
        //         margin: 0;
        //         font-family: inherit;
        //         font-size: 14px;
        //         line-height: 20px;
        //         border: 2px solid #585858;
        //         border-radius: 3px;
        //         // color: rgb(9, 30, 66);
        //         color: #3f3f3f;

        //         margin-block-end: 8px;

        //         &:hover {
        //             // background-color: rgb(235, 236, 240);
        //         }

        //         &:focus {
        //             // background-color: white;
        //             border: 2px solid #4e4e4e;
        //             outline: none;
        //         }
        //     }

        //     button {
        //         width: 100%;
        //         padding: 6px 12px;
        //         margin: 0;
        //         font-family: inherit;
        //         font-size: 14px;
        //         line-height: 20px;
        //         font-weight: 500;
        //         border-radius: 3px;
        //         border: 0;
        //         background-color: #0c66e4;
        //         color: #fff;
        //         cursor: pointer;

        //         &:hover {
        //             background-color: rgb(0, 85, 204);
        //         }

        //         &:active {
        //             background-color: rgb(9, 50, 108);
        //         }
        //     }

        // }
    }

    .login-footer {
        position: relative;

        .footer-imgs {
            height: 100%;
            left: 0;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -900;

            .right-img {
                width: 25rem;
                bottom: 0;
                right: 0;
                max-width: 30%;
                overflow: hidden;
                position: absolute;
                z-index: -999;
            }

            .left-img {
                width: 25rem;
                bottom: 0;
                left: 0;
                max-width: 30%;
                overflow: hidden;
                position: absolute;
                z-index: -999;
            }
        }
    }

    .toggle-login-signup {
        flex-direction: column;

        button {
            cursor: pointer;
            font-size: 14px;
            font-family: inherit;
            margin-block-start: 8px;
            color: rgb(158, 158, 158);
            &:hover {
                text-decoration: underline;
            }
        }

        .guest {
            font-size: 16px;
            font-weight: 600;
        }
    }

}


.login-page-container .login-page-form input {
    background-color: transparent; 
    color: #3f3f3f;
    border: 2px solid #585858;
    width: 100%;
    padding: 8px 14px;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    margin-block-end: 8px;

    &:focus {
        border: 2px solid #4e4e4e;
        outline: none;
        background-color: transparent; 

    }
}

.sign-btn {
    width: 100%;
    padding: 12px 12px;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 0;
    background-color: #0c66e4;
    color: #fff;
    cursor: pointer;
        &:hover {
            background-color: rgb(0, 85, 204);
            }

        &:active {
            background-color: rgb(9, 50, 108);
            }
}


@media only screen and (min-width: 768px) {
    .login-page-container {
        width: calc(100% - 6rem);
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 768px) {
    .login-page-container {
        margin: 40px auto;
    }
}