
.movies {
    position: relative;
    .logo {
        position: absolute;
        width: 70%;
        /* bottom: 30%; */
        right: 15%;
    }
    &-list {
        position: absolute;
        display: grid;
        
        overflow-x: auto;
        padding: 20px;
        color: white;
        top: 70%;
        min-height: 100vh;
        .movies-preview {
            display: flex;
            gap: 10px;
            position: relative;
            .hovered-info {
                position: absolute;
                width: 300px;
                height: 300px;
                bottom: 0;
            }
        }
        .movie-card {
            position: relative;
            height: 240px;
            width: 190px;
            margin-bottom: 25px;
            cursor: pointer;
        
            img {
                border-radius: 5px;
                height: 100%;
                width: 100%;
                transition: all 0.3s ease;
            }
        
            .hovered-info {
                position: absolute;
                width: 400px; 
                height: 400px;
                bottom: 0; 
                right: 0; 
                top: 0;
                left: 0;
                border-radius: 10px;
                background-color: #fff;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                z-index: 10;
            }
        }
    }

   
}