.info-details {
    position: absolute;
    bottom: 12rem;
    color: white;
    width: 450px;
    left: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    .title {
        font-size: 48px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        line-height: 50px;
        text-align: left;
    }
   
    p {
        font-size: 15px;
        color: #d9d9d9;
        text-align: left;
    }
    .date-time-lang {
        display: flex;
        gap: 5px;
        font-size: 18px; 
        .age {
            display: flex;
            font-size: 16px;
            width: 50px;
            background-color: #7a797953;
            border-radius: 4px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
    &-btns{
        display: flex;
        gap: 10px;
        
        .watch-btn {
            display: flex;
            gap: 5px;
            padding: 14px 125px;
            background-color: #585858a9;
            border-radius: 6px;
            span {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .watchlist-btn {
            padding: 8px 22px;
            border-radius: 6px;

            background-color: #585858a9;
            span {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}

