.search-con {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    .form-con {
        form {
            position: relative;
            display: flex;
            width: 100%;
            gap: 10px;
            span {
                position: absolute;
                top: 16px;
                left: 10px;
                font-size: 32px;
            }
        }
        
        input {
            color: rgb(221, 221, 221);
            // width: calc(100% - 6em);
            width: 90%;
            height: 60px;
            background-color: #ffffff1a;
            border-radius: 20px;
            padding-left: 50px;
        }
    }
}