
@media only screen and (min-width: 768px) {

.side-bar {
    color: white;
    width: 6rem;
    transition: width 0.3s;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        img {
            width: 100%;
        }
    }

    .menu {
        // position: absolute;
        // right: 0;
        display: none;
    }
    
    .navs-con {
        display: flex;
        margin-left: 30px;
        .hide {
            opacity: 0;
            transition: opacity 0.3s linear, width 0.3s;
        }
        .navs {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            font-size: 18px;
            section, a {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                transition: transform 0.3s;
                color: rgb(140, 139, 139);
                &:hover {
                    transform: scale(1.1);
                    color: #ffff;
                }
                .material-symbols-outlined {
                    font-size: 24px;
                }  
            }          
        }
        
    }

    &:hover {
        width: 15%;
        background: rgba(2, 2, 2, 0.784);
        background: linear-gradient(
            to right,
            rgba(2, 2, 2, 0.852), 
            rgba(2, 2, 2, 0.755) 70%, 
            transparent 100% 
        );
    
        .hide {
            opacity: 1;
        }
    }
}
}



@media only screen and (max-width: 768px) {
        .side-bar {
            // display: none;
            position: fixed;
            width: 100%;
           
            .hide {
                display: none;
            }
            .menu {
                display: block;
                color: rgb(255, 255, 255);
                position: absolute;
                right: 5px;
                cursor: pointer;
                top: 5px;
                z-index: 30;
                font-size: 40px;

                &:hover {
                    color: #a3a3a3;
                }
            }
            .navs-con {
                position: absolute;
                width: 100%;
                background-color: #000000;
                height: 50vh;
                top: 0;
                .navs {
                    justify-content: space-around;
                    height: 100%;
                }
                .hide {
                    display: block;
                }

                section, a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;
                    transition: transform 0.3s;
                    font-size: 28px;
                    // color: rgb(140, 139, 139);
                    // &:hover {
                    //     transform: scale(1.1);
                    //     color: #ffff;
                    // }
                    .material-symbols-outlined {
                        font-size: 32px;
                    }  
                } 
            }
            
        }
  }

