.side-bar {
    color: white;
    width: 6rem;
    transition: width 0.3s;
    position: fixed;
    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        img {
            width: 100%;
        }
    }
    
    .navs-con {
        display: flex;
        margin-left: 30px;
        .hide {
            opacity: 0;
            transition: opacity 0.3s linear, width 0.3s;
        }
        .navs {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            font-size: 18px;
            section, a {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                transition: transform 0.3s;
                color: rgb(140, 139, 139);
                &:hover {
                    transform: scale(1.1);
                    color: #ffff;
                }
                .material-symbols-outlined {
                    font-size: 24px;
                }  
            }          
        }
        
    }

    &:hover {
        width: 15%;
        background: rgba(2, 2, 2, 0.784);
        background: linear-gradient(
            to right,
            rgba(2, 2, 2, 0.852), 
            rgba(2, 2, 2, 0.755) 70%, 
            transparent 100% 
        );
    
        .hide {
            opacity: 1;
        }
    }
}

